@import "~bootstrap/scss/bootstrap";

.my-card{
    height: 450px;
}

.show-card{
    height: 800px;
}

.img-box{
    height: 800px;
    width: 100%;

    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}